@import "tailwindcss";

@media (min-width: 768px) {
  .grid-layout {
    display: grid;
    grid-template-columns: auto 1fr; /* Width fixa da sidebar */
    height: 100vh; /* Altura total da viewport */
  }
}